In [1]:
import pandas as pd
import numpy  as np

In [3]:
vine_to_load = "resources/vine_table.csv"

vine_df = pd.read_csv(vine_to_load)

vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y

In [34]:
vote_count_df = vine_df[vine_df["total_votes"]>=20]

vote_count_df.count()['review_id']

27884

In [5]:
vote_count_df['helpful_percent'] = (vote_count_df['helpful_votes'] / vote_count_df['total_votes'])

helpful_count_df = vote_count_df[vote_count_df['helpful_percent']>=.5]

helpful_count_df

C:\Users\erinv\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
218,R37F42INKX7L9K,5,45,49,N,Y,0.918367
557,R2EHKYNEP8WVSR,5,25,25,N,Y,1.000000
560,RXOS7BHID0UHL,5,16,27,N,N,0.592593
909,R33HHGFPB403GM,5,19,21,N,Y,0.904762
1232,RY9O9XNLP464N,2,19,22,N,Y,0.863636
...,...,...,...,...,...,...,...
4366751,R1FALBZOUYCZTD,5,29,31,N,N,0.935484
4366765,R7M3UQX8B04NM,5,20,21,N,N,0.952381
4366771,R1UYT6MT2IOAJN,5,23,24,N,N,0.958333
4366844,R3QRYRJWX0N6H3,4,29,33,N,N,0.878788
4366886,R20WGBU79NREU,5,14,20,N,N,0.700000

In [32]:
vine_paid_df = helpful_count_df[helpful_count_df['vine']== 'Y']

vine_paid_df.count()['review_id']

22

In [33]:
vine_unpaid_df = helpful_count_df[helpful_count_df['vine']== 'N']

vine_unpaid_df.count()['review_id']

26987

In [35]:
helpful_count_df['review_id'].count()

27009

In [38]:
total_five_stars = helpful_count_df[helpful_count_df.star_rating == 5].count()["review_id"]

total_five_stars

14488

In [29]:
vine_stars = vine_paid_df[vine_paid_df.star_rating == 5].count()["review_id"]
total_paid = vine_paid_df['review_id'].count()

percent_paid = (vine_stars/total_paid)*100

vine_stars, total_paid, percent_paid

(13, 22, 59.09090909090909)

In [30]:
no_vine_stars = vine_unpaid_df[vine_unpaid_df.star_rating == 5].count()["review_id"]
total_unpaid = vine_unpaid_df['review_id'].count()

percent_unpaid = (no_vine_stars/total_unpaid)*100

no_vine_stars, total_unpaid, percent_unpaid

(14475, 26987, 53.63693630266425)